body {
  font-family: -apple-system, BlinkMacSystemFont, "Shabnam", "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit;
  text-decoration: none;
  &:hover {
    color: inherit;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.z-index-n1 {
  z-index: -1;
}

.focus-shadow-0 {
  &:focus {
    box-shadow: none !important;
    border: 0 !important;
  }
}

.input-border {
  border: 1px solid #8c3573;

  &:focus {
    border: 2px;
    border-color: #8c3573;
    border-style: solid !important;
    box-shadow: 0 0 0 0.1rem #8c3573;
  }
}
.border-start-0:focus {
  border-right: 0 !important;
}

input:focus + div {
  border-width: 2px !important;
}

.rounded-start-0 {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}

.blur {
  filter: blur(16px);
}

.w-h-64 {
  width: 64px;
  height: 64px;
}

.clear-button {
  &:focus {
    box-shadow: none !important;
  }
  &:focus-visible {
    outline: none !important;
  }
}
